@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Freckle+Face');

// Fonts
nav,.navbar-brand {
 font-family: 'Freckle Face';
 font-size: 18pt;
}

.dropdown-item{
  color: black;
}

h1,h2,h3,h4,h5{
  font-family: "Amatic SC";
}

h5{
  color: black;
}

h1,h2{
  color: rgb(239, 174, 112);
}

p{
  font-family: "Annie use your telescope";
  font-size: 13pt;
}

a{
  font-family: "Annie use your telescope";
  text-decoration: none;
  text-decoration-line: none;
  color: white;
}

a:hover{
  text-decoration: none;
}

.button{
  font-family: "Amatic SC";
}

.form-group{
  font-family: "Annie use your telescope";
}

.text-css{
  text-align: center;
  margin: auto;
  font-size: 25pt;
  vertical-align: center; 
}

// Buttons
.link{
color: rgb(164, 83, 93);
}

.btn-primary{
background-color: rgb(164, 83, 93);
}

.btn{
  text-align: left;
  color: rgb(243, 243, 244);
  background-image: url("../../images/hout.jpg");
  margin-bottom: 1em;
}

.top{
  float:right;
  font-family: "Annie use your telescope";
}

.banner{
  color: rgb(243, 243, 244);
  text-align: center;
}

.social-icon{
  float: right;
}

// photos
.map{
  margin: 3em 1em 2em 1em;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  width: 100px;
  left: 80%;
  position: absolute;
}

.visje{
  position: absolute;
  width: 50px;
  top: 5%;
  left: 20%;
  z-index: 1;
}

.peddel{
  position: absolute;
  width: 60px;
  top: 10%;
  left: 80%;
  z-index: 1;
}

form{
  z-index: 2;
}

// background
.jumbotron{
  background-color: rgba(255, 255, 255, 0.5) ;
}

body, html {
  height: 100%;
}

.background{
  background-image: url("../../images/background.jpg") ;
  background-repeat: no-repeat ;
  background-size: cover;
}
