// footer
.navbar {
    background-image: url(../../images/hout.jpg);
} 

.footer-item{
    color:white;
    text-decoration: none;
}

.gegevens, h5{
    color: white;
}

p.copyright{
    float: center;
   color: white;
}

footer.a{
    text-decoration: none;
}
