// footer
.navbar {
    background-image: url(../../images/hout.jpg);
} 

.footer-item{
    color:white;
    text-decoration: none;
}

.copyright{
   float: right;
}

footer.a{
    text-decoration: none;
}
