.navbar {
    background-image: url(../../images/hout.jpg);
}

.navbar-toggler{
    color:white;
    z-index: 1;
}

.nav-link{
    color: white;
}

.dropdown-item{
    color: green;
}

a:hover{
    color: white;
}
